.extra-products-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 280px;
  margin-top: 29px;
  border-bottom: 1px solid #cdcdcd;
}

.extra-products-list__item {
  border-top: 1px solid #cdcdcd;
}

.extra-products-list__title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 8px;
}

.extra-products-list__table {
  font-family: "Arial", sans-serif;
  margin-top: 6px;
  border-collapse: collapse;
  width: 280px;
  text-align: left;
}

.extra-products-list__info-cell2 {
  text-align: right;
}
