.map {
  margin: 0 auto;
  padding: 0;
  display: flex;
  margin-top: -38px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3e71671b29d8ba81fcdbe86f23521af6adf0649f
.map::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 53px;
  background-image: url("../img/map-pin.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 62px 53px;
  margin-top: 183px;
  margin-left: calc(50% - 30px);
}

<<<<<<< HEAD
=======
>>>>>>> ebd5022bf33cb0276e3e584e7951fb3e9f6fea7b
=======
>>>>>>> 3e71671b29d8ba81fcdbe86f23521af6adf0649f
.map__image {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  height: 400px;
<<<<<<< HEAD
<<<<<<< HEAD
  display: block;
=======
>>>>>>> ebd5022bf33cb0276e3e584e7951fb3e9f6fea7b
=======
  display: block;
>>>>>>> 3e71671b29d8ba81fcdbe86f23521af6adf0649f
}

.map__image-wrapper {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .map {
    margin-top: -4px;
  }

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3e71671b29d8ba81fcdbe86f23521af6adf0649f
  .map::before {
    width: 124px;
    height: 106px;
    background-size: 124px 106px;
    margin-top: 147px;
    margin-left: calc(50% - 62px);
  }

<<<<<<< HEAD
=======
>>>>>>> ebd5022bf33cb0276e3e584e7951fb3e9f6fea7b
=======
>>>>>>> 3e71671b29d8ba81fcdbe86f23521af6adf0649f
  .map__image {
    width: 767px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .map__image-wrapper {
    width: 1440px;
    height: 400px;
  }

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3e71671b29d8ba81fcdbe86f23521af6adf0649f
  .map::before {
    margin-top: 154px;
    margin-left: calc(50% + 278px);
  }

<<<<<<< HEAD
=======
>>>>>>> ebd5022bf33cb0276e3e584e7951fb3e9f6fea7b
=======
>>>>>>> 3e71671b29d8ba81fcdbe86f23521af6adf0649f
  .map__image {
    width: 1440px;
    height: 400px;
    margin-top: 3px;
  }
}
