.more-products {
  width: 318px;
  height: 208px;
  border: 1px solid #ededed;
  margin-top: 1px;
}

.more-products__header {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 77px;
  color: #111111;
}

.more-products__header::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  margin: auto;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: -50px;
  margin-left: 95px;
}

.more-products__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #444444;
  font-size: 12px;
  margin-top: 4px;
}

.more-products__button-all {
  width: 280px;
  height: 39px;
  color: #444444;
  margin: 0 auto;
  margin-top: 21px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
