.navigation-list {
  width: 320px;
  height: 181px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.navigation-list__item {
  width: 320px;
  height: 46px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.navigation-list__link {
  display: block;
  width: 320px;
  height: 46px;
  text-decoration: none;
  color: #000000;
  align-items: center;
  margin-top: 20px;
}
