.navigation {
  width: 320px;
  height: 65px;
  background: white;
  border-bottom: 1px solid #e6e6e6;
  /*outline: 1px solid aqua;*/
}

.navigation__wrapper {
  width: 320px;
  height: 63px;
  display: flex;
  justify-content: space-between;

}
