.navigation {
  width: 320px;
  height: 65px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  /*outline: 1px solid aqua;*/
}

.navigation__wrapper {
  width: 320px;
  height: 63px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .navigation {
    height: 82px;
    width: 768px;
    background-color: transparent;
    border: none;
  }

  .navigation__wrapper {
    height: 58px;
    width: 173px;
    margin: 0;
  }
}
