.page-header {
  /*min-height: 546px;*/
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
  }

  .page-header__navigation-wrapper {
    height: 58px;
    width: 708px;
    margin: 0 auto;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
  }
}
