.page-footer {
  width: 320px;
  height: 236px;
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding-top: 39px;
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.page-footer__copyright {
  width: 294px;
  height: 78px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.page-footer__copyright-name {
  display: block;
  color: #444444;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  width: 115px;
  height: 23px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 6px;
}

.page-footer__copyright-icon {
  display: block;
  width: 41px;
  height: 41px;
  margin-top: 18px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    height: 150px;
  }

  .page-footer__wrapper {
    width: 722px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    width: 129px;
    height: 25px;
    margin: 0;
    margin-left: 8px;
    padding: 0;
  }

  .page-footer__logo-image {
    width: 129px;
    height: 25px;
  }

  .page-footer__copyright {
    width: 170px;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .page-footer__copyright-name {
    padding: 0;
    margin: 0;
    margin-top: 9px;
  }

  .page-footer__copyright-icon {
    padding: 0;
    margin: 0;
  }
}
