.promo {
  width: 320px;
  height: 480px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.promo__title {
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 32px;
  padding-top: 26px;
  line-height: 36px;
}

.promo__text {
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 21px;
}

.promo__image-wrapper {
  height: 271px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.promo__image {
  width: 280px;
  height: 271px;
  margin: 0 auto;
}
