.sale {
  margin: 0 auto;
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 39px;
  margin-bottom: 35px;
}

.sale__text {
  padding: 0;
  margin: 0 auto;
  width: 165px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  padding-top: 187px;
}

.sale__text::before {
  content: "";
  position: absolute;
  background-image: url("../../img/icon-gift.svg");
  width: 56px;
  height: 60px;
  margin-left: 30px;
  margin-top: -122px;
}
