html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 14px;
  min-width: 320px;
  /*background-image: url("../img/cat-energy-form-mobile(2).png");*/
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*
@media (min-width: @tablet-width) {
  body {
    min-height: 4333px;
    background-image: url(../img/cat-energy-index-tablet.png);
  }
}

@media (min-width: @desktop-width) {
  body {
    min-height: 2809px;
    background-image: url(../img/cat-energy-index-desktop.png);
  }
}
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
