html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 14px;
  min-width: 320px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
